.arrivals-pro-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.arrivals-pro-grid .arrival-grid-items .img-box{
    padding-bottom: 100%;
}
.arrival-pro-label{
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.50); 
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px ); 
    color: var(--white);
    padding: 10px;
    
}
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 575px) {
    .arrivals-pro-grid{ 
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
}