.blog-post-item .img-box{
    padding-bottom: 80%;
}
.blog-post-item .img-box{}
.blog-cont{
    margin-top: 20px;
    display: grid;
    gap: 10px;
}

.blog-cont .blog-date{
    font-size: 14px;
    color: #e60013;
}
.blog-cont .blog-title a{
    font-weight: bold;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.blog-cont .blog-title a:hover{
    color: var(--heading-color);
}
.blog-cont .blog-desc{ 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.blog-cont .read-more{
    display: flex; 
}
.blog-cont .read-more a{
    font-size: 14px; 
    text-decoration: underline;
    font-weight: bold;
}
.blog-cont .read-more a:hover{
    color: var(--black);
    text-decoration: none;
}
.blog-view-all{
    margin-top: 20px;
}
.blog-view-all .btn{
    display: inline-flex;
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
}
.blog-posts-section .container{
    max-width: 1200px;
}
.blog-post-wpr{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.artical-pagination{
    margin-top: 100px;
}
@media screen and (max-width: 991px) {
    .artical-pagination{
        margin-top: 80px;
    }
}
@media screen and (max-width: 767px) {
    .blog-post-wpr {
        gap: 20px;
    }
}
@media screen and (max-width: 575px) {
    .blog-post-wpr {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .artical-pagination{
        margin-top: 50px;
    }
}