.announcement-header{
    background-color: var(--color-primary);
    color:var(--white);
    padding: 10px 0;
    overflow: hidden;

}
.announcement-bar .swiper-slide{
    padding: 0 30px;  
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    overflow: hidden;
    padding: 0 50px;
}
.announcement-bar .swiper-slide::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius:50%;
    background-color: var(--color-secondary);
}

.announcement-bar .swiper-wrapper{
    -webkit-transition-timing-function:linear!important;
    transition-timing-function:linear!important; 
    position: relative;
}

header{
    position: relative;
    border-bottom: 1px solid var(--border-color);
}

.main-header-wpr .top-header{
    justify-content: space-between;
    gap: 10px;
    padding:15px 0;
}
.top-header .header-right-btn,
.top-header .header-search,
.top-header .header-logo{
    flex: 1;
}
.top-header .header-logo h1{
    max-width: 120px;
    color: var(--color-primary);
}

.header-search-form{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.header-search-form input{
    padding:5px 35px; 
}
.header-search-form input::placeholder{
    color: var(--color-primary);
    opacity: 0.4;
}
.header-search-form .search-icons{
    height: 14px;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    opacity: 0.4;
}
.header-search-form .search-clr-iocns{
    height: 18px;
    width: 18px; 
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition:all 0.2s ease-in-out;
    padding: 2px;
}

.header-search-form .search-clr-iocns:hover{
    background-color: var(--color-primary);
    color: #fff;
}
.header-search-form:has(input:focus) .search-icons{
    opacity: 1;
}
.header-search-form:has(input:focus) .search-clr-iocns{
    right: 12px;
}
.top-header .header-right-btn,
.right-icons-wpr {
    gap: 16px;
}

.right-icons-wpr li button,
.right-icons-wpr li a{
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    color: currentColor;
    transition:all 0.2s ease-in-out;
}
/* .right-icons-wpr li button svg,
.right-icons-wpr li a svg{
    opacity: 0.8;
} */
.right-icons-wpr li button:hover,
.right-icons-wpr li a:hover{ 
    color: var(--hover-color);
}

.right-icons-wpr li .cart-icons::after{
    content: attr(data-cart-items);
    position: absolute;
    top: -9px;
    right: -9px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 10px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Nav Css */
/* .header-nav{
    border-bottom: 1px solid var(--border-color);
} */
.header-nav .main-nav-ul {
    display: flex;
    align-items: center;
}
.header-nav .main-nav-ul > .nav-items{
    position: relative;
}
.header-nav .main-nav-ul > .nav-items:not(:last-child){
    margin-right: 20px;
}
.header-nav .nav-items > a{
    padding: 12px 0;
    font-weight: 500;
    position: relative;
}
.header-nav .nav-items > a::after{
    content: '';
    height: 2px;
    width: 0;
    border-radius: 10px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
}
.header-nav .nav-items > a:has(.icons)::after{
    display: none;
}
.header-nav .nav-items > a:hover::after{
    width: 50%;
}
.header-nav .nav-items a:hover{
    color: var(--hover-color); 
    /* color: #070707; */
}
.header-nav .nav-items > a:has(.icons) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav .nav-items a > .icons {
    width: 12px;
    height: 12px;
    transition:all 0.3s ease-in-out;

}
.header-nav .nav-items:hover > a .icons{
    transform: rotate(180deg);
}

.sub-menu{
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    padding: 5px 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: 100%; 
    min-width: 180px;
    visibility: hidden;
    opacity: 0;
    transition:all 0.3s ease-in-out;
}
.header-nav .nav-items:hover .sub-menu{
    top: 100%;
    visibility: visible;
    opacity: 1; 
}
.sub-menu .sub-nav-items a{
    padding: 5px 10px;
    border-radius: 4px;
}
.sub-menu .sub-nav-items a:hover{
    background-color: var(--color-secondary);
}

.right-icons-wpr .header-search-li{
    display: none;
}
.mobile-header-search{
    display: none;
}

@media screen and (max-width:767px) { 
    .top-header .header-logo,
    .top-header .header-right-btn{
        flex: inherit;
        max-width: 140px;
    }
    .header-search-form { 
        max-width: min(250px, 90%); 
    }
    .top-header .header-logo h1 {
        max-width: 100px; 
    }
    .right-icons-wpr .header-account-li{
        display: none;
    }
    /* Mobile nav */
    .header-nav { 
        height: 0px; 
        transition-duration: 0.4s;
    } 
    
     
    .menu-icons {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
        /* transition:all 0.2s ease-in-out; */
        background-color: var(--color-primary);
        color: var(--white);
        border-radius: 50%;
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 9902;
    } 
    
    .menu-icons button{
        --heightIcon: 15px;
        --widthLine: 24px;
        --heightLine: 2px;
        --transitionTime: 0.4s;
        --rotation: 45deg;
        --translateY: calc(var(--heightIcon) / 2);
        --translateX: 0;
        position: absolute;
        z-index: 99;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: var(--widthLine);
        height: var(--heightIcon);
    }
    .menu-icons button .line {
        display: block;
        background: #fff;
        width: var(--widthLine);
        height: var(--heightLine);
        position: absolute;
        left: 0;
        border-radius: 3px;
        transition: all 0.4s;
    }
    .menu-icons button .line.line-1 {
        top: 0;
    }
    .menu-icons button .line.line-2 {
        top: 50%;
    }
    .menu-icons button .line.line-3 {
        top: 100%;
    }
    .menu-icons.active .line-1 {
        transform: translateY(var(--translateY)) translateX(var(--translateX)) rotate(var(--rotation));
    }
    .menu-icons.active .line-2 {
        opacity: 0;
    }
    .menu-icons.active .line-3 {
        transform: translateY(calc(var(--translateY) * -1)) translateX(var(--translateX)) rotate(calc(var(--rotation) * -1));
    }
    
    .header-nav nav {
        position: fixed;
        bottom: 15px;
        right: 15px;
        height: 50px;
        width: 50px;    
        background: rgba(var(--color-primary-rgb), 0.9);  
        padding: 20px; 
        transition: 0.4s;  
        opacity: 0;
        visibility: hidden;
        z-index: -5;
        border-radius: 50%;
    }
    .header-nav.nav-show nav{ 
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 9900;
        opacity: 1;
        visibility: visible;
        border-radius: 0;
    } 
    .header-nav .nav-wpr{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 10% 0;
        overflow-y: auto;
    }
    .header-nav .main-nav-ul {
        display: block;
        flex: 1;
        max-width: 300px; 
    }
    .header-nav .main-nav-ul > .nav-items {
        margin-right: 0 !important;
        opacity: 0;
    }  
    .header-nav.nav-show .nav-items{ 
        animation-name: fadein;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        color: var(--white) !important;
    }
    .header-nav .nav-items a:hover {
        color: currentColor; 
    }
    .header-nav .nav-items:hover > a .icons {
        transform: none;
    }
    .header-nav .nav-items:has(.sub-menu.open) > a .icons {
        transform: rotate(180deg);
    }

    @keyframes fadein {
        0% {
            opacity: 0;
            transform: translateY(24px);
        }
        100% {
            opacity: 1;
        }
    }
    .header-nav .nav-items > a:has(.icons) { 
        justify-content: space-between;
    } 
    .header-nav .nav-items > a:hover::after {
        display: none;
    }
    .header-nav .nav-items > a {
        padding: 8px 0; 
    } 
    .sub-menu{
        display: none;
    }
    .sub-menu.open{
        display: block;
        position: static; 
        padding: 0 ;
        border: 0;
        border-radius: 4px; 
        min-width: 100%;
        visibility: visible;
        opacity: 1; 
    } 
    .mobile-nav-header .header-logo a{
        max-width: 120px;
        color: var(--color-primary);
    }
    .nav-close-icons {
        margin: -12px -12px 0 0;
    }
    .nav-close-icons button{
        height: 26px;
        width: 26px;
        border-radius: 4px;
        color: var(--text-color);
    }
    .nav-close-icons button:hover{
        background-color: var(--color-primary);
        color: var(--white);
    }

       
}

@media screen and (max-width:575px) { 
    .main-header-wpr .top-header { 
        gap: 6px;  
    } 
    .top-header .header-logo,
    .top-header .header-right-btn{
        flex: 1; 
        max-width: 100%;
    }
    
    .top-header .header-logo h1 {
        max-width: 90px; 
    }
    .right-icons-wpr .header-account-li{
        display: none;
    } 
    .right-icons-wpr .header-search-li{
        display: block;
    }
    .top-header .header-search { 
       display: none;
    }
    .header-nav .nav-wpr{
        transition: 0.3s;
    }
    .header-nav.serch-open .nav-wpr{
        scale: 0;
    }
    .mobile-search-icon {
        position: fixed;
        bottom: 15px;
        right: 15px;
        height: 50px;
        width: 50px;
        overflow: hidden; 
        display: flex;
        align-items: center;
        justify-content: center;  
        background-color: var(--color-primary);
        color: var(--white);
        border-radius: 50%; 
        z-index: 9901;
        visibility: hidden;   
    }
    .mobile-header-search{
        display: block;
        position: fixed;
        bottom: 70px;
        right: 15px;
        height: 50px;
        width: 50px;
        background: rgba(var(--color-primary-rgb), 0.2);
        padding: 20px;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
        z-index: -5;
        border-radius: 50%;
    }
    .header-nav.serch-open .mobile-header-search {
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        z-index: 9900;
        opacity: 1;
        visibility: visible;
        border-radius: 0;
    }
      
    .header-nav.nav-show .mobile-search-icon {
        bottom: 70px;
        right: 15px;
        opacity: 1;
        visibility: visible;
        transition: 0.3s;
        transition-delay: 0.1s;
    }
    .header-nav.serch-open .mobile-search-icon button{
        background-color: var(--white);
        color: var(--color-primary);
    }
    .mobile-search-icon button{
        height: 50px;
        width: 50px;  
        background-color: var(--color-primary);
        color: var(--white);
        border-radius: 50%;  
        display: flex;
        align-items: center;
        justify-content: center; 
        padding: 16px;
    } 
     
    
    .mobile-header-search .header-search {
        height: 80%;
        padding: 10% 0;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .header-search-form{
        max-width: 100%;
    }
}   