.announcement-header {
    background-color: var(--color-primary);
    color: var(--white);
    padding: 10px 0;
    overflow: hidden;

}

.announcement-bar .swiper-slide {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
    overflow: hidden;
    padding: 0 50px;
}

.announcement-bar .swiper-slide::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--color-secondary);
}

.announcement-bar .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--white);
    border-bottom: 1px solid var(--border-color);

}

.main-header-wpr .top-header {
    justify-content: space-between;
    gap: 10px;
    padding: 15px 0;
}

.top-header .header-right-btn,
.top-header .header-search,
.top-header .header-logo {
    flex: 1;
}

.top-header .header-logo h1 {
    max-width: 120px;
    color: var(--color-primary);
}

.header-search-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.header-search-form input {
    padding: 5px 35px;
}

.header-search-form input::placeholder {
    color: var(--color-primary);
    opacity: 0.4;
}

.header-search-form .search-icons {
    height: 14px;
    width: 14px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    opacity: 0.4;
}

.header-search-form .search-clr-iocns {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    padding: 2px;
}

.header-search-form .search-clr-iocns:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.header-search-form:has(input:focus) .search-icons {
    opacity: 1;
}

.header-search-form:has(input:focus) .search-clr-iocns {
    right: 12px;
}

.top-header .header-right-btn,
.right-icons-wpr {
    gap: 16px;
}

.right-icons-wpr li button,
.right-icons-wpr li a {
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: currentColor;
    transition: all 0.2s ease-in-out;
}

/* .right-icons-wpr li button svg,
.right-icons-wpr li a svg{
    opacity: 0.8;
} */
.right-icons-wpr li button:hover,
.right-icons-wpr li a:hover {
    color: var(--hover-color);
}

.right-icons-wpr li .cart-icons::after {
    content: attr(data-cart-items);
    position: absolute;
    top: -9px;
    right: -9px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 10px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.2s ease-in-out;

}
.right-icons-wpr li .cart-icons.active svg{
    animation: 0.8s cartAnimation linear infinite;
}
.right-icons-wpr li .cart-icons.active:hover svg{
    animation: none;
}
.right-icons-wpr li .cart-icons.active::after{
    opacity: 1;
}

@keyframes cartAnimation {
    0% { 
        opacity: 0.6;
    } 
    50% { 
        opacity: 1;
    }
    100% { 
        opacity: 0.6;
    }
}

/* Nav Css */
/* .header-nav{
    border-bottom: 1px solid var(--border-color);
} */
.header-nav .main-nav-ul {
    display: flex;
    align-items: center;
}

.header-nav .main-nav-ul>.nav-items:has(.inner-menu.sub-menu) {
    position: relative;
}

.header-nav .main-nav-ul>.nav-items:not(:last-child) {
    margin-right: 30px;
}

.header-nav .nav-items>a {
    padding: 12px 0;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.header-nav .nav-items>a::before {
    content: '';
    height: 2px;
    width: 0;
    border-radius: 10px;
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
}

.header-nav .nav-items:has(.inner-menu)>a::before {
    display: none;
}

.header-nav .nav-items>a:hover::before {
    width: 50%;
}

.header-nav .nav-items a:hover {
    color: var(--hover-color);
    /* color: #070707; */
}

.header-nav .nav-items:has(.inner-menu)>a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav .nav-items:has(.inner-menu)>a::after {
    content: '';
    width: 13px;
    height: 7px;
    background-image: url('data:image/svg+xml,<svg width="28" height="16" viewBox="0 0 28 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L14 14L26 2" stroke="currentcolor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
    opacity: 0.7;
}

.header-nav .nav-items:hover>a::after {
    transform: rotate(180deg);
}

.inner-menu {
    position: absolute;
    top: calc(100% + 50px);
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
    z-index: 5;
    width: 100%;
}

.sub-menu {
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    min-width: 180px;
    visibility: hidden;
    opacity: 0;
}

.header-nav .nav-items:hover .inner-menu {
    top: calc(100% + 1px);
    visibility: visible;
    opacity: 1;
}

.inner-menu.sub-menu a {
    padding: 5px 10px;
}

/* .inner-menu a:hover{
    font-weight: 500;
} */

.right-icons-wpr .header-search-li {
    display: none;
}

.mobile-header-search {
    display: none;
}

.mg-menu-container {
    padding: 20px;
}

.mg-menu-wpr .mg-list-main {
    max-width: calc(100% - 290px);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

/* .mg-menu-wpr .mg-list-main:has(.mg-links-wpr:not([class*="column-"])) { */
.mg-links-wpr.column-2 {
    columns: 2;
    column-gap: 40px;
}

.mg-list-main .mg-list-heading {
    margin-bottom: 15px;
}

.mg-list-main .mg-list-heading p {
    font: var(--fs2);
    color: var(--color-primary);
}

.mg-menu-wpr .mg-preview-block {
    max-width: 250px;
    margin-left: 40px;
    width: 100%;
}

.mg-link-ul li {
    padding: 0 2px;
}

.mg-link-ul li a {
    padding: 6px 0;
    /* min-width: 160px; */
}

.mg-link-ul li a::first-letter {
    text-transform: uppercase;
}

.mg-preview-img {
    position: relative;
    padding-bottom: 130%;
}

.mg-preview-img .mg-preview-label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    color: var(--white);
    font-weight: 600;
    padding: 10px 5px;
}


@media screen and (max-width:1140px) {
    .mg-menu-wpr .mg-preview-block {
        max-width: 230px;
        margin-left: 30px;
    }

    .mg-menu-wpr .mg-list-main {
        max-width: calc(100% - 260px);
        gap: 30px;
    }

    .mg-links-wpr.column-2 {
        column-gap: 30px;
    }
}

@media screen and (max-width:1024px) {
    .mg-menu-wpr .mg-preview-block {
        max-width: 220px;
        margin-left: 20px;
    }

    .mg-menu-wpr .mg-list-main {
        max-width: calc(100% - 240px);
        gap: 20px;
    }

    .mg-links-wpr.column-2 {
        column-gap: 20px;
    }
}

@media screen and (max-width:991px) {
    .mg-menu-wpr .mg-preview-block {
        display: none;
    }

    .mg-menu-wpr .mg-list-main {
        max-width: 100%;
    }
}

@media screen and (max-width:767px) {

    .top-header .header-logo,
    .top-header .header-right-btn {
        flex: inherit;
        max-width: 140px;
    }

    .header-search-form {
        max-width: min(280px, 80%);
    }

    .top-header .header-logo h1 {
        max-width: 100px;
    }

    .right-icons-wpr .header-account-li {
        display: none;
    }

    /* Mobile nav */
    .menu-icons {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
        border-radius: 50%;
    }

    .menu-icons button {
        --heightIcon: 12px;
        --widthLine: 20px;
        --heightLine: 2px;
        --transitionTime: 0.4s;
        --rotation: 45deg;
        --translateY: calc(var(--heightIcon) / 2);
        --translateX: 0;
        position: relative;
        width: var(--widthLine);
        height: var(--heightIcon);
    }

    .menu-icons button .line {
        display: block;
        background: var(--text-color);
        width: var(--widthLine);
        height: var(--heightLine);
        position: absolute;
        left: 0;
        border-radius: 3px;
        transition: all 0.4s;
    }

    .menu-icons.active button .line {
        background-color: var(--hover-color);
    }

    .menu-icons button .line.line-1 {
        top: 0;
    }

    .menu-icons button .line.line-2 {
        top: 50%;
    }

    .menu-icons button .line.line-3 {
        top: 100%;
    }

    .menu-icons.active .line-1 {
        transform: translateY(var(--translateY)) translateX(var(--translateX)) rotate(var(--rotation));
    }

    .menu-icons.active .line-2 {
        opacity: 0;
    }

    .menu-icons.active .line-3 {
        transform: translateY(calc(var(--translateY) * -1)) translateX(var(--translateX)) rotate(calc(var(--rotation) * -1));
    }

    .header-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        background-color: rgba(0, 0, 0, 0.377);

    }

    .header-nav nav {
        position: absolute;
        top: 0;
        left: -200%;
        height: 100vh;
        width: min(100%, 360px);
        background: var(--white);
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
    }

    .header-nav.nav-show,
    .nav-show nav {
        left: 0;
        opacity: 1;
        visibility: visible;
        border-radius: 0;
    }

    .header-nav .nav-wpr::-webkit-scrollbar {
        border-radius: 10px;
        width: 6px;
    }

    .header-nav .nav-wpr {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .header-nav .main-nav-ul {
        display: block;
        padding: 0;
        flex: 1;
        overflow-y: auto;
    }

    .header-nav .main-nav-ul>.nav-items:not(:last-child) {
        margin-right: 0;
    }

    /* .header-nav .nav-items a:hover {
        color: currentColor; 
    } */
    .header-nav .nav-items:hover>a .icons {
        transform: none;
    }

    .header-nav .nav-items>a:has(.icons) {
        justify-content: space-between;
    }

    .header-nav .nav-items>a::before {
        display: none;
    }

    .header-nav .nav-items>a {
        padding: 10px 20px;
        border-radius: 0;
    }

    .header-nav .nav-items:has(.inner-menu) a::after {
        transform: rotate(-90deg) !important;
        margin: 0;
        width: 9px;
        height: 5px;
    }

    .mob-nav-logo-search .nav-logo {
        flex: 1;
    }

    .mob-nav-logo-search {
        padding: 15px 20px;
        border-bottom: 2px solid var(--color-primary);
    }

    .mob-nav-logo-search .nav-logo a {
        color: var(--color-primary);
        margin: 0 auto;
        height: 40px;
    }

    .mob-nav-logo-search .nav-logo a svg {
        max-height: 100%;
        max-width: 100%;
        width: auto;
    }

    .mob-nav-logo-search .nav-search {
        display: none;
    }

    .mob-nav-close {
        margin-left: 10px;
    }

    .header-nav .main-nav-ul>.nav-items:has(.inner-menu.open)>a {
        background-color: var(--color-secondary);
    }

    .header-nav .main-nav-ul>.nav-items {
        position: static;
    }

    .header-nav .nav-items:hover .inner-menu {
        top: 0;
    }

    .header-nav .nav-items:has(.inner-menu)>a {
        justify-content: space-between;
    }

    .mg-list-items .mg-links-wpr,
    .inner-menu {
        position: absolute;
        top: 0;
        left: 150%;
        padding: 0;
        border: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        background-color: var(--white);
        z-index: 5;
        display: flex;
        flex-direction: column;
        /* pointer-events: visible; */
    }

    .mg-list-items .mg-links-wpr.open,
    .inner-menu.open {
        left: 0;
    }

    .mg-link-ul li a,
    .inner-menu .sub-nav-items a {
        padding: 10px 20px;
    }

    .header-nav .main-nav-ul>.nav-items,
    .inner-menu a,
    .mg-list-items {
        border-bottom: 1px solid var(--border-color);
    }

    .inside-menu-heading {
        padding: 15px 20px;
        border-bottom: 2px solid var(--color-primary);
    }

    .inside-menu-heading .in-menu-wpr {
        height: 40px;
        color: var(--color-primary);
    }

    .inside-menu-heading .in-menu-wpr .icons {
        width: 30px;
        height: 100%;
        margin: 0 10px 0 -10px;
        padding: 2px;
        opacity: 0.8;
    }

    .inside-menu-heading .in-menu-wpr .icons:hover {
        opacity: 1;
    }

    .inside-menu-heading .in-menu-wpr .nav-heading-name {
        flex: 1;
        font: var(--fs2);
    }

    .mg-links-wpr .mg-link-ul,
    .sub-nav-ul {
        padding: 0;
        flex: 1;
        overflow-y: auto;
    }

    .mg-menu-container {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .mg-menu-wpr {
        display: block;
        flex: 1;
        overflow-y: auto;
    }

    .mg-menu-wpr .mg-list-main {
        display: block;
    }

    .mg-links-wpr.column-2 {
        columns: 1;
    }

    .header-nav .main-nav-ul>.nav-items:has(.inner-menu.sub-menu) {
        position: static;
    }

    .mg-list-main .mg-list-heading {
        margin: 0;
        padding: 10px 20px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .mg-list-main .mg-list-heading p {
        flex: 1;
        padding-right: 10px;
        color: var(--text-color);
        font: var(--p);
    }

    .mg-list-main .mg-list-heading:has(+ .mg-links-wpr)::after {
        content: '';
        width: 9px;
        height: 5px;
        background-image: url('data:image/svg+xml,<svg width="28" height="16" viewBox="0 0 28 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L14 14L26 2" stroke="currentcolor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: cover;
        transition: all 0.3s ease-in-out;
        transform: rotate(-90deg);
        opacity: 0.7;
    }

    .mg-link-ul li {
        padding: 0;
    }

    /* .header-nav .main-nav-ul > .nav-items:has(.inner-menu[area-inner-open="true"]){
        pointer-events: none;
    } */
    body:has(.header-nav.nav-show) {
        overflow: hidden;
    }
}

@media screen and (max-width:575px) {
    .main-header-wpr .top-header {
        gap: 6px;
    }

    .top-header .header-logo,
    .top-header .header-right-btn {
        flex: 1;
        max-width: 100%;
    }

    .top-header .header-logo h1 {
        max-width: 90px;
    }

    .right-icons-wpr .header-account-li {
        display: none;
    }

    .right-icons-wpr .header-search-li {
        display: block;
    }

    .top-header .header-search {
        width: 100%;
        flex: auto;
        order: 3;
        position: absolute;
        left: 0;
        top: calc(100% + 1px);
        /* background-color: var(--white); */
        z-index: -1;
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    .top-header .header-search.open {
        visibility: visible;
        opacity: 1;
        display: block;
        z-index: 5;
        animation: 0.2s headerSearch linear;
    }

    body:has(.header-search.open) {
        overflow: hidden;
    }

    @keyframes headerSearch {
        0% {
            visibility: hidden;
            opacity: 0;
        }

        100% {
            visibility: visible;
            opacity: 1;
        }
    }

    .top-header .header-search::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - var(--header-height, 96px));
        background: rgba(145, 145, 145, 0.5);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }

    .top-header .header-search.open::after {
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }

    .header-nav .nav-wpr {
        transition: 0.3s;
    }

    .header-nav.serch-open .nav-wpr {
        scale: 0;
    }

    .mob-nav-logo-search .nav-search {
        display: block;
        margin-top: 10px;
    }

    .header-search-form-wpr {
        position: relative;
        z-index: 5;
        top: 30px;
        padding: 20px;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        visibility: hidden;
        opacity: 0;
    }

    .header-search.open .header-search-form-wpr {
        animation: 0.2s searchForm forwards;
        animation-delay: 0.3s;
    }

    @keyframes searchForm {
        0% {
            visibility: hidden;
            opacity: 0;
            top: 30px;
        }

        100% {
            visibility: visible;
            opacity: 1;
            top: 0px;
        }
    }

    .header-search-form {
        max-width: 100%;
    }
}

@media screen and (max-width:480px) {
    .header-nav nav {
        width: 60%;
    }
}