.hero-banner-section{
    background-color: var(--color-secondary);
}
.banner-wpr .banner-itmes{
    max-width: calc(50% - 10px);
    width: 100%;
}
.banner-wpr{
    padding: 80px 0;
}
.banner-content .cont-wpr {
    margin-bottom: 40px;
    max-width: 660px;
}
.banner-content .heading:has(+ .desc){
    margin-bottom: 20px;
}
.banner-content .desc :not(:last-child){
    margin-bottom: 12px;
}
.banner-content .heading h2{
    color: var(--heading-color);
}
.banner-content .banner-btn a{
    display: inline-flex;
    align-items: center;
}
/* .banner-content .banner-btn a:hover{} */
.banner-content .banner-btn .icons{
    margin-left: 10px;
}
.banner-wpr .banner-image{

}