.new-collection-wpr .nw-col-items{
    max-width: calc(50% - 20px); 
    width: 100%;
}
.nw-col-swiper .swiper-slide{
    height: auto;
} 
.nw-col-pro-img{
    position: relative;
    overflow: hidden;
}
.nw-col-image .img-box{
    padding-bottom: 104%;
} 
.nw-headig-text{ 
    margin-bottom: 24px;
}
@media screen and (max-width: 1280px) {
    .new-collection-wpr .nw-col-items {
        max-width: calc(50% - 12px);
        width: 100%;
    }
}
@media screen and (max-width: 991px) {
    .new-collection-wpr{
        gap: 40px;
    }
    .new-collection-wpr .nw-col-items {
        max-width: 100%;
        width: 100%;
    }
}