.breadcrumb-section {
    padding: 20px 0 10px;
}

.pdp-section {
    margin-top: 30px;
}

.pdp-wpr {
    justify-content: space-between;
}

.pdp-wpr .pdp-left-image,
.pdp-wpr .pdp-right-content {
    max-width: calc(50% - 15px);
    width: 100%;
}
.pdp-left-image .main-gallery-swiper .img-box {
    padding-bottom: 120%;
}
.pdp-cont-wpr{
    height: 100%;
}
.pdp-additional-details {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pdp-additional-details .pro-categories,
.pdp-additional-details .heading {
    margin-bottom: 10px;
}
.pdp-additional-details .pro-price .sell-price,
.pdp-additional-details .heading {
    color: var(--black);
}
.pdp-additional-details .price-discount-tag{
    background-color: #009900;
    color: var(--white);
    font-size: 14px;
    line-height: 1;
    padding: 4px 8px;
    margin-left: 12px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-weight: 600;
}

.pdp-additional-details .pro-price .compare-price {
    opacity: 0.5;
    margin-left: 16px;
}
.product-reviews{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 !important;
}
.product-reviews .star{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.product-reviews .star svg{
    width: 20px;
    height: 20px;
    color: var(--black);
}
.pro-opt-picker{
    margin-top: 30px;
    flex: 1;
}
.pro-opt-picker .opt-sticky-wpr > :not(:last-child),
.pro-opt-picker > :not(:last-child){
    margin-bottom: 30px;
}
.opt-picker-items .opt-picker-top {
    font: var(--fs1);
    margin-bottom: 10px;
} 
.opt-picker-items .opt-picker-top .title{ 
    font-weight: 600;
    color: var(--black);

}
.opt-picker-items .opt-picker-top .opt-value::before{
    content: '';
    margin:0 10px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0.4;
}

.opt-picker-items .opt-picker-wpr li:not(:last-child){
    margin-right: 14px;
}
.color-opt .opt-picker-wpr li{
    max-width: 40px;
    width: 100%;
    border-radius: 2px;
    padding: 1px;
    cursor: pointer;
    border: 1px solid #b1b1b1;
}
.color-opt .opt-picker-wpr li.active{
    border-color: var(--black);
}
.color-opt .opt-picker-wpr li label,
.color-opt .opt-picker-wpr li a{
    height: 60px;
    border-radius: 2px; 
    display: block;
    cursor: pointer;

}
.color-opt .opt-picker-wpr li:has(label input[type="radio"]:checked){
    border-color:  var(--black);
}

.opt-picker-items .opt-picker-wpr li label input{
    display: none;
}
.size-guide button {
    height: 100%;
    display: flex;
    align-items: center;
    font: var(--p);
    white-space: nowrap;
}
.size-guide button svg {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    flex-shrink: 0;
}
.size-opt .opt-picker-wpr label:has(input[type="radio"]){
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 6px 10px;
    display: block;
    transition: 0.2s;
    background-color: #fcfcfc;
    cursor: pointer;
    min-width: 70px;
    text-align: center;
}
.size-opt .opt-picker-wpr label:has(input[type="radio"]:checked) {
    border-color: var(--black);
    background-color: var(--black);
    color: var(--white);
}
.pro-stock-wpr .pro-stock-title {
    font: var(--fs1);
    margin-bottom: 10px;
    color: var(--stock-color);
} 
.pro-stock-progress {
    height: 10px;
    background-color: #d5d5d5;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.pro-stock-progress .progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--stock-color);
}
.pdp-pro-qty .pro-qty-wpr { 
    border-radius: 5px;
}
.pdp-pro-qty .pro-qty-wpr .qty-btn {
    width: 40px;
    height: 40px;
}
.wishlist-cart-wpr .wishlist-btn .btn{
    width: 60px;
    padding: 14px;
}
.wishlist-cart-wpr .wishlist-btn .btn svg{
    fill: none;
    stroke-width: 1px;
    stroke: currentColor;
}
.wishlist-cart-wpr .wishlist-btn .btn.active svg{
    fill: currentColor;
}
.wishlist-cart-wpr{
    gap: 10px;
}
.wishlist-cart-wpr .pdp-cart-wpr{
    flex: 1;
}
.wishlist-cart-wpr .pdp-cart-wpr .btn{
    width: 100%;
}
.declaretion-ul{
    display: grid;
    gap: 16px;
}
.declaretion-ul .declaretion-li-items{
    gap: 10px;
}
.declaretion-li-items .icons{
    width: 22px;
    height: 22px;  
    margin: 0;
    /* color: var(--black); */
}
.declaretion-li-items .declaretion-cont{
    flex:1;
}
.declaretion-li-items .declaretion-cont b{
    color: var(--black);
    font-weight: 600;
}
.size-table-wpr{
    overflow-x: auto;
}
.size-table-wpr table{
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    width: 100%;
}
.size-table-wpr table td,
.size-table-wpr table th{
    padding: 5px;
    border: 1px solid var(--border-color);
    text-align: center;
}
.size-table-wpr table th{
    min-width: 120px;
  color: var(--black);

}
.size-guide{
    margin-top: 30px;
}
.size-guide .heading{
    color:var(--black);
}
@media screen and (min-width: 992px) {
    .pdp-left-image .main-gallery-swiper .swiper-wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -10px -5px 0;
    }
    .pdp-left-image .main-gallery-swiper .swiper-slide {
        margin-top: 10px;
        padding: 0 5px;
    }
    
    .pdp-left-image .main-gallery-swiper .swiper-slide:nth-child(5n + 1),
    .pdp-left-image .main-gallery-swiper .swiper-slide:nth-child(5n + 2) {
        max-width: 50%;
    }
    
    .pdp-left-image .main-gallery-swiper .swiper-slide:nth-child(5n + 3),
    .pdp-left-image .main-gallery-swiper .swiper-slide:nth-child(5n + 4),
    .pdp-left-image .main-gallery-swiper .swiper-slide:nth-child(5n + 5) {
        flex: 0 0 33.33%;
    }
    .main-gallery-swiper {
        position: sticky;
        top: var(--header-height);
    }
}
@media screen and (max-width: 1200px) {
    .pdp-wpr .pdp-right-content {
        max-width: calc(50% - 20px);
    }
    .pdp-wpr .pdp-left-image {
        max-width: calc(50%);
    }
}
@media screen and (max-width: 991px) {
    .pdp-wpr .pdp-left-image, .pdp-wpr .pdp-right-content {
        max-width: 100%;
    }
    .main-gallery-swiper {
        position: relative;
    }
}