.product-items{
    display: flex;
    flex-direction: column;
    gap: 18px; 
    overflow: hidden;
    height: 100%;
}
.product-image {
    border-radius: 8px 8px 0 0;
    position: relative;
    overflow: hidden;
}
.product-image .img-box{
    padding-bottom: 104%;
}
.mob-cart-wishlist,
.hover-image,
.product-items:hover .main-image{
    display: none;
}
.product-items:hover .hover-image{
    display: block;
} 
.product-label{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 20px;
    padding: 6px 12px;
    background-color: var(--color-primary);
    font-size: 14px;
    line-height: 1;
    color: var(--white);
}
.product-categories-reviews .nc-pro-reviews .icons svg,
.add-cart-btn .btn svg{
    max-height: 100%;
    max-width: 100%; 
}
.product-content{
    display: flex;
    flex-direction: column;
    gap: 10px;  
    flex: 1;
}
.product-categories-reviews .product-reviews .icons{
    width: 14px;
    height: 14px;
    color: rgb(255, 211, 17);
    margin-left: 2px;
}
.product-categories-reviews .product-reviews{
    font: 12px; 
    line-height: 1;
} 
.product-name{
    font:var(--fs2);
    font-weight: 700; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    flex: 1;
    color: var(--black);
}
.product-price .compare-price{
    margin-left: 10px;
    opacity: 0.5;
}
.product-categories-reviews a:hover,
.product-name a:hover{
    color: var(--hover-color);
}
 
.pro-grid-cart-wishlist {
    position: absolute;
    bottom: 10px;
    right: -50px;
    transition: 0.3s;
    flex-direction: column;
    gap: 10px;
} 
.wishlist-btn .btn,
.add-cart-btn .btn{
    height: 36px;
    width: 36px;
    padding: 6px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.8); 
    border-color: rgba(0,0,0,0.8);
}
.add-cart-btn .btn:hover{
    background-color: #000;
    color: var(--white);
}
.product-items:hover .pro-grid-cart-wishlist {
    right: 10px;
} 
.wishlist-btn .btn:active,
.add-cart-btn .btn:active{
  box-shadow: rgb(0 0 0 / 84%) 0px 5px 10px 0px inset;
}
.wishlist-btn svg{
    fill: none;
    stroke-width: 1px;
    stroke: currentColor;
}
.wishlist-btn .btn.active svg{
    fill: currentColor;
}
 
@media screen and (max-width: 991px) {
    .product-image .add-cart-btn{
        display: none;
    }
    .mob-cart-wishlist{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: static;
        gap: 10px;
    }
    .add-cart-btn{
        flex: 1; 
    }
    .add-cart-btn .btn {
        height: 44px;
        width: 100%;
        padding: 0;
        border-radius: 4px;
    }
    .wishlist-btn .btn{
        height: 44px;
        width: 44px;
        padding: 10px;
    }
    .mob-cart-wishlist .btn .icons{
        width: 18px;
        height: 18px;
    }
}
@media screen and (max-width: 575px) {
    .add-cart-btn .btn {
        height: 38px;
    }
    .wishlist-btn .btn{
        height: 38px;
        width: 38px;
        padding: 7px;
    }   
    .add-cart-btn .btn .icons {
        display: none;
    }
}