/* Fonts pairinng - 1 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900');
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
/* Fonts pairinng - 2 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300..900;1,300..900&display=swap');
/* Fonts pairinng - 3 */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Fonts pairinng - 4 */
/* Fonts pairinng - 5 */
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:focus,
:active {
  outline: none !important;
}

/*============= Montserrat FONT START ================*/

/*============ Montserrat FONT END ==========*/
body.theme-1 {
  --color-primary-rgb: 50, 50, 50; 
  --color-primary: #323232; 
  --color-secondary:#EFF3F4; 
  --heading-color:var(--color-primary);
  --text-color:#525252;
  --hover-color:#323232;
  --border-color:rgba(50, 50, 50, 0.202);
}
body.theme-2 {
  --color-primary-rgb: 0, 35, 73; 
  --color-primary: #002349; 
  --color-secondary:#FFF3D4;
  --heading-color:var(--color-primary);
  --text-color:#002349;
  --hover-color:#002F63;
  --border-color:rgba(0, 35, 73, 0.202);
}
body.theme-3 {
  --color-primary-rgb: 153, 119, 92; 
  --color-primary: #99775C; 
  --color-secondary:#EAE7DD;
  --heading-color:#333333;
  --text-color:#4B4B4B;
  --hover-color:#B0703E;
  --border-color:rgba(153, 119, 92, 0.202);
}
body.theme-4 {
  --color-primary-rgb: 84, 46, 29; 
  --color-primary: #542E1D; 
  --color-secondary:#FFE7D3;
  --heading-color:#323231;
  --text-color:#323231;
  --hover-color:#9F3505;
  --border-color:rgba(var(--color-primary-rgb), 0.202);
}
body.theme-7 {
  --color-primary-rgb: 27, 58, 63;
  --color-primary: #1B3A3F; 
  --color-secondary:#E5EDEF;
  --heading-color:#2A3A3D;
  --text-color:#2A3A3D;
  --hover-color:#1C5C66;
  --border-color:rgba(var(--color-primary-rgb), 0.202);
}
:root { 
  --container:1680px;
  --white: #ffffff;
  --primary-font: "Quattrocento", sans-serif;
  --secondary-font: "Quattrocento sans", sans-serif;
  --h1: normal normal 700 56px/66px var(--primary-font);
  --h2: normal normal 700 52px/62px var(--primary-font);
  --h3: normal normal 700 42px/50px var(--primary-font);
  --h4: normal normal 600 36px/42px var(--primary-font);
  --h5: normal normal 600 30px/38px var(--primary-font);
  --h6: normal normal 500 24px/28px var(--secondary-font);
  --p: normal normal 400 18px/22px var(--secondary-font);
  --fs1: normal normal 500 22px/26px  var(--secondary-font); 
  --fs2: normal normal 500 20px/24px  var(--secondary-font); 
  }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
  outline: none;
  scroll-behavior: smooth;
}

html.flexbox {
  display: block;
}

body { 
  font: var(--p);
  color:var(--text-color);
}

img,
svg {
  max-width: 100%;
  display: block;
  height: auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
input{
  width: 100%;
  border: 0;
  padding: 5px 15px;
  border-radius: 8px;
  background-color: #F0F0F0;
  height: 40px;
  font:var(--p);
}
a,
a:hover,
a:focus,
button,
button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  display: block;
  color: currentColor;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0; 
} 

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.grid { 
  display: grid; 
}

.no-wrap {
  flex-wrap: nowrap;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.direction-column {
  flex-direction: column;
  -ms-flex-direction: column;
}

.row-reverse {
  flex-direction: row-reverse;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 20px;
}

h1,
.h1 {
  font: var(--h1);
}

h2,
.h2 {
  font: var(--h2);
}

h3,
.h3 {
  font: var(--h3);
}

h4,
.h4 {
  font: var(--h4);
}

h5,
.h5 {
  font: var(--h5);
}

h6,
.h6 {
  font: var(--h6);
}
.fs1{
  font:var(--fs1)
}
p {
  font: var(--p);
}

 
.img-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-box {
  position: relative;
  width:100%;
}
.desk-only-flex {
  display: flex;
}
.desk-only {
  display: block;
}
.mob-only-flex,
.mob-only {
  display: none;
}
.text-uppercase {
  text-transform: uppercase;
}
.margin-auto {
  margin: 0 auto;
}
.w-100 {
  width: 100%;
}
.icons{
  display: flex;
  align-items:center;
  justify-content:center;
  margin-left: 6px;
}
.icons svg {
  height: 100%;
  width: 100%;
}
.btn{  
  color:var(--color-primary);
  border-radius:8px;
  font-weight:700;
  height:56px; 
  display: flex;
  align-items:center;
  justify-content:center;
  border: 1px solid var(--color-primary);
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
}
.btn-radius{
  border-radius:50px;
}
.btn:hover{
  background-color: var(--color-primary);
  color: var(--white);
 }
/* .btn-icons{
  padding-right: 0;
} */
.btn-icons .icons{
  width: 14px;
  height: 14px; 
}
.btn-icons .icons svg{
  max-width: 14px;
  max-height: 14px;
}

.main-section{
  margin: 80px 0;
}
.section-headding{
  margin-bottom: 40px;
  color: var(--heading-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.section-headding .headding-name{
  flex: 1;  
}
.section-headding .slider-btn-grp {
  display: flex;
  align-items: center; 
  gap: 14px;
  --btn-wh:44px;
}
.section-headding .slider-btn-grp .slider-nav{
  width:var(--btn-wh);
  height: var(--btn-wh);
  border-radius: 50%;
  background-color: var(--color-primary);
  overflow: hidden;
  position: relative;
  inset: inherit;
  color: var(--white);
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; 

}
.section-headding .slider-btn-grp .slider-nav svg{
  max-width: 26px;
}

.section-headding .slider-btn-grp .slider-nav:after {
  content: "";
  background-image: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .25), transparent);
  height: 100%;
  left: -200%;
  position: absolute;
  top: 0;
  transform: skew(-20deg);
  width: 200%;
}
.section-headding .slider-btn-grp .slider-nav:hover:after { 
  animation: shine .75s cubic-bezier(.01,.56,1,1); 
}
   
.section-headding .slider-btn-grp .slider-nav:active{
  box-shadow: rgba(0, 0, 0, 0.842) 0px 5px 10px 0px inset;  
}
 
@keyframes shine {
  100% {
    left: 150%;
  }
}
@media screen and (max-width:1280px) {
  :root { 
    --h2: normal normal 700 48px/54px var(--primary-font);
  } 
}
 
@media screen and (max-width:767px) { 
  :root { 
    --h1: normal normal 700 54px/66px var(--primary-font); 
    --h3: normal normal 700 40px/46px var(--primary-font);
    --h4: normal normal 600 36px/40px var(--primary-font);
    --h5: normal normal 600 28px/32px var(--primary-font);
    --h6: normal normal 500 22px/24px var(--secondary-font);
    --p:normal normal 400 16px/20px var(--secondary-font);
    --fs1: normal normal 500 20px/24px  var(--secondary-font);
    --fs2: normal normal 500 18px/22px  var(--secondary-font);
  } 
  .desk-only-flex,
  .desk-only {
    display: none;
  }
  .mob-only-flex{
    display: flex;
  }
  .mob-only {
    display: block;
  }
  .main-section{
    margin: 50px 0;
  }
  .section-headding .slider-btn-grp { 
    --btn-wh:30px;
    gap: 6px;
  }
  .section-headding {
    margin-bottom: 30px;
  } 
  .section-headding .headding-name{
    font:var(--h3)
  }
}
@media screen and (max-width:575px) { 
  .container { 
    padding: 0 16px;
  } 
  .btn {
    height: 48px;
  }  
  input { 
    padding: 2px 15px; 
    height: 34px; 
  }
  .btn-icons .icons {
    width: 10px;
    height: 10px;
  }
  .section-headding .slider-btn-grp { 
    --btn-wh:25px;
    gap: 4px;
  }
  .section-headding .headding-name{
    font:var(--h5)
  } 
  .section-headding {
    margin-bottom: 20px;
  }
}
 